
html {
    scroll-behavior : smooth;
    }
body {
    font-family: 'Cabin', 'sans-serif';
    background-color: black;
    color: white;
    }
.navbar-brand , footer{
    font-family:'Lobster','sans-serif' ;
    font-size: 2rem;
}
.color_rojo{
    color: #ff0000;
}
.color_negro{
    color:"#000000";
}
/**Carousel**/

.carousel-img-size {
    height: 43.75rem !important;
    text-align: center;
}
#contact hr {
    width: 80%;
}

.contact-typeform {
    width: 80%;
    height: 31.25rem;
}
